:root {
    --img-height: 233px;
    --img-width: 150px;
    --img-scale: .5;
    --cards-per-row: 3;
}

/*Toutes les balises HTML*/
* {

    /*applique 0 de taille a la bordure autour*/
    border: 0;
    /*Mode de dimensionnement sur la boite de bordure*/
    box-sizing: border-box;
    /*marge extérieure de la bordure*/
    margin: 0;
    /*bordure superposée qui apparait en "focus"*/
    outline: 0;
    /*marge intérieure de la bordure*/
    padding: 0;
    /*Pour le grass*/
    font-weight: bold;
    
}

/*Tout les balises button*/
button {
    /*Couleur de fond(zone du contenu + padding)*/
    background-color: transparent;
}

header,
.modal {
    /* Gere la disposition des "enfents-flex" perpendiculairement au "fil"*/
    align-items: center;
    /*Activer le systeme de flexbox sur <header> qui devient "parent-flex"*/
    display: flex;
    /*Gere l'orientation du fil */
    flex-direction: column;
    /*Gére la goutière (espace de séparation) entre les "enfants-flex"*/
    gap: 5px;
    padding: 20px;

}

/*--Indicateur de thème actif --*/
.theme-indicator{
    font-size: .5em;
}


/* Boutons */
.btn {
    background-color: #124242;
    border: 2px solid rgb(255, 255, 255, 10);
    border-radius: 6px;
    padding: 7px 10px 10px;
}

/*Lorsqu'on maintient le doigt (ou le clic) sur le bouton */
.btn:active {
    background-color: #1242426c;
    border-color: rgb(18, 66, 66, 15);
}

main {
    /*valeurs: haut droite [bas= haut] gauche [droite= gauche]*/
    padding: 0 20px;
}

/*Tout les éléments qui sont directement dans score*/
.scores>* {
    /*Gere l'alignement vertical d'un element inline par rapport au texte aux inlines voisins*/
    vertical-align: middle;


}

.hidden{
    /*annule l'affichage, !important empeche qu'on puisse reprendre la priorité dessus*/
    display: none!important;
}




/*Tout les h1 et les <element class="h1">*/
h1,
.h1 {
    /*Taille du texte*/
    font-size: 58px;
    
}


body {
    /*Couleur du texte*/
    color: rgb(226, 223, 216);
    /*Couleur de fond(zone du contenu + padding)*/
    background-color: #4c8991;
    /*Police d'écriture*/
    font-family: "Modak", system-ui;
    /*Pour mettre une bordure au texte*/
    -webkit-text-stroke: 1px black;
    /*Taille du texte*/
    font-size: 40px;

}

/*LE <element id="current-score"> et LE <element id="final-score"> */
#final-score,  
#current-score {
    color: #124242;
    /*On peut utiliser 'em' au lieu de 'px' qui est un multiplicateur de la derniere taille en pixel donnée au texte
    1em = 1 cadratin 
    */
    font-size: 35px;
}

#deck {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: calc((20px * (var(--cards-per-row) - 1))
            /*Nombre gaps */
            + (2px * 2 * var(--cards-per-row))
            /*total des bordures */
            + var(--img-width)* var(--img-scale) * var(--cards-per-row)
            /*total des images */
        );
    margin-left: auto;
    margin-right: auto;
    /*Perspective des transformations*/
    /*Distance en pixels entre le point d'origine (point de fuite) et l'oeil de l'observateur supposé*/
    perspective: 1000px;
    /*Position du point de fuite par rapport a deck*/
    perspective-origin: 50% 25%;



}

/*--Cartes--*/
.card {
    background-color: #f5e9e9;
    /*Bordures*/
    border: 2px solid rgb(0, 0, 0);
    /*coins arrondis*/
    border-radius: 2px;
    /* Changement de son statut de positionnement */
    position: relative;
    transition: transform 200ms ease-in;

}

.card.flipped {
    /*applique une trandformation visuelle qui n'affecete pas les éléments alentours*/
    transform: rotateY(.5turn);
}

/*[VERSION ALTERNATIVE]  Tous les éléments dont l'attribut "class" commence par "card-" [class^="card-"]{} */
/* Tous les <div> enfant directs de <element class="card">*/
.card>div {
    /*hauteur fixe*/
    height: calc(var(--img-height)* var(--img-scale));
    /*largeur fixe*/
    width: calc(var(--img-width)* var(--img-scale));
    background-size: calc(var(--img-width) * var(--img-scale)) calc(var(--img-height)* var(--img-scale));

}

.card-back {
    background: #09ff00 url('img/back.png')center center no-repeat;
    position: relative;
    /*ordre du calque de positionnement 1=derrière, plus = devant*/
    z-index: 2;
}

.card-img {
    background: #09ff00 center center no-repeat;
    /*espace entre bord gauche et l'élement et celui de son element de réference*/
    left: 0;
    /* Changement de son statut de positionnement */
    position: absolute;
    /*espace entre bord gauche et l'élement et celui de son element de réference*/
    top: 0;
    transform: rotateY(.5turn);
    transition: z-index .2s ease-in;
    z-index: 1;
}

.card.flipped .card-img {
    z-index: 3;
}


/* -- Modales --*/
/* Bouton reglages */
#btn-settings {
    /* Espace entre les bords bas du bouton et le bord bas de l'élément de réference */
    bottom: 20px;
    position: fixed;
    right: 20px;
}
.modal-overlay {
    /*Positionne le bloc de la meme maniere qu'absolute, mais sa réference est la fenetre d'affichage*/
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    /*vh= viewport height = 100% de la hauteur du viewport */
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.555);
}

.modal {
    background-color: rgb(5, 35, 43);
    width: 20% ;
    border-radius: 50px;


}

/* -- Responsive -- */
/* - Ecrans à partir de 992px de large (desktop) - */
@media (min-width: 992px) {
    :root {
        --img-scale: .9;
        --cards-per-row: 6;
    }

    .card {
        cursor: pointer;
    }

    .btn {
        cursor: pointer;
    }

    .btn:hover {
        background-color: #1242426c;
        border-color: rgb(18, 66, 66, 15);
    }

}


/* - Ecrans à partir de 1440px de large (desktopxxl) - */
@media (min-width: 1440px) {
    :root {
        --img-scale: 1;
        --cards-per-row: 8;
    }
}